{% extends "base.html" %} {% load i18n %} {% load account socialaccount %} 
{% block head_title %} {% trans "Sign In" %} {% endblock %} {% block content %}
<!-- Login Container -->
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <!-- Login Header -->
      <h3>{% trans "Sign In" %}</h3>

      <!-- Login Form -->
      <p>
        {% blocktrans %}
         Welcome back to the code|star blog. To leave a comment
        or like a post, please log in. If you have not created an account yet,
        then <a class="link" href="{{ signup_url }}">sign up</a> first.
        {% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <!-- Login Button -->
        <button class="btn btn-signup right" type="submit">
          {% trans "Sign In" %}
        </button>
      </form>
      <hr />
      <!-- Google SSO -->
      <div class="mt-3">
        <a
          class="btn btn-outline-dark w-100"
          href="{% provider_login_url 'google' process='login' %}"
        >
          <i class="fab fa-google me-2"></i> Sign in with Google
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
