{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans "خروج" %}{% endblock %} {% block content %}
<!-- Logout Container -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7 col-sm-9">
      <!-- Logout Card -->
      <div class="card login-card login-ltr mt-4 mb-5">
        <div class="card-body p-4 text-center">
          <!-- Logout Header -->
          <h2 class="card-title mb-3">{% trans "خروج از حساب کاربری" %}</h2>

          <!-- Logout Confirmation Message -->
          <p class="mb-4">{% trans 'آیا مطمئن هستید که می‌خواهید خارج شوید؟' %}</p>

          <!-- Logout Form -->
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %} {% if redirect_field_value %}
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}"
            />
            {% endif %}
            <!-- Logout Button -->
            <button class="btn btn-signup w-100 text-center" type="submit" style="text-align: center;">
              {% trans 'خروج' %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
