/**
 * Shabnam Font – Persian/Farsi Web Font
 * 
 * Usage:
 * - Automatically applied to elements with class="rtl"
 * - Use .rtl for Persian/RTL content
 * - Use .ltr for English/LTR content (system fonts)
 */

/* Shabnam – Regular (400) */
@font-face {
  font-family: "Shabnam";
  src: url("../fonts/shabnam/Shabnam.woff2") format("woff2"),
       url("../fonts/shabnam/Shabnam.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Shabnam – Medium (500) */
@font-face {
  font-family: "Shabnam";
  src: url("../fonts/shabnam/Shabnam-Medium.woff2") format("woff2"),
       url("../fonts/shabnam/Shabnam-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Shabnam – Bold (700) */
@font-face {
  font-family: "Shabnam";
  src: url("../fonts/shabnam/Shabnam-Bold.woff2") format("woff2"),
       url("../fonts/shabnam/Shabnam-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

