{% load static %}
<div class="category-latest-post-content">
  <a
    href="{% url 'post_detail' post.slug %}"
    class="category-latest-post-thumbnail"
    title="{{ post.title }}"
  >
    {% if post.featured_image.public_id != "placeholder" %}
        <img
          src="{{ post.featured_image.url }}"
          alt="{{ post.title }}"
          class="category-latest-post-image"
          loading="lazy"
          data-fallback="{% static 'images/default.jpg' %}"
          onerror="this.onerror=null; this.src=this.dataset.fallback;"
        />
    {% else %}
      <img
        src="{% static 'images/default.jpg' %}"
        alt="{{ post.title }}"
        class="category-latest-post-image"
        loading="lazy"
      />
    {% endif %}
  </a>
  <div class="category-latest-post-text">
    <a
      href="{% url 'post_detail' post.slug %}"
      class="category-latest-post-link"
      title="{{ post.title }}"
    >
      {{ post.title|truncatewords:10 }}
    </a>
    <div class="category-latest-post-author">
      <i class="fas fa-user me-1"></i>{{ post.author.username }}
    </div>
  </div>
</div>
