{% load static %}
<div class="footer-logo-loop-wrapper">
  <div class="footer-logo-loop">
    <div class="footer-logo-slide">
      <img src="{% static 'images/logo1.png' %}" alt="Partner Logo 1" class="footer-logo-img" />
      <img src="{% static 'images/logo2.png' %}" alt="Partner Logo 2" class="footer-logo-img" />
      <img src="{% static 'images/logo3.png' %}" alt="Partner Logo 3" class="footer-logo-img" />
      <img src="{% static 'images/logo4.png' %}" alt="Partner Logo 4" class="footer-logo-img" />
      <img src="{% static 'images/logo5.png' %}" alt="Partner Logo 5" class="footer-logo-img" />
      <img src="{% static 'images/logo6.png' %}" alt="Partner Logo 6" class="footer-logo-img" />
      <img src="{% static 'images/logo7.png' %}" alt="Partner Logo 7" class="footer-logo-img" />
      <img src="{% static 'images/logo8.png' %}" alt="Partner Logo 8" class="footer-logo-img" />
      <img src="{% static 'images/logo9.png' %}" alt="Partner Logo 9" class="footer-logo-img" />
      <img src="{% static 'images/logo10.png' %}" alt="Partner Logo 10" class="footer-logo-img" />
      <img src="{% static 'images/logo1.png' %}" alt="Partner Logo 1" class="footer-logo-img" />
      <img src="{% static 'images/logo2.png' %}" alt="Partner Logo 2" class="footer-logo-img" />
      <img src="{% static 'images/logo3.png' %}" alt="Partner Logo 3" class="footer-logo-img" />
      <img src="{% static 'images/logo4.png' %}" alt="Partner Logo 4" class="footer-logo-img" />
      <img src="{% static 'images/logo5.png' %}" alt="Partner Logo 5" class="footer-logo-img" />
      <img src="{% static 'images/logo6.png' %}" alt="Partner Logo 6" class="footer-logo-img" />
      <img src="{% static 'images/logo7.png' %}" alt="Partner Logo 7" class="footer-logo-img" />
      <img src="{% static 'images/logo8.png' %}" alt="Partner Logo 8" class="footer-logo-img" />
      <img src="{% static 'images/logo9.png' %}" alt="Partner Logo 9" class="footer-logo-img" />
      <img src="{% static 'images/logo10.png' %}" alt="Partner Logo 10" class="footer-logo-img" />
    </div>
  </div>
</div>
