<div class="mobile-homepage-banners">
  <div class="mobile-homepage-banner">
    {% include 'includes/static_banner.html' with slot_id='ad-1' extra_class='ad-placeholder-category-section' loading='eager' %}
  </div>
  <div class="mobile-homepage-banner">
    {% include 'includes/static_banner.html' with slot_id='ad-2' extra_class='ad-placeholder-category-section' loading='eager' %}
  </div>
  <div class="mobile-homepage-banner">
    {% include 'includes/static_banner.html' with slot_id='ad-3' extra_class='ad-placeholder-category-section' loading='eager' %}
  </div>
</div>
