{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body text-center">
          <h1 class="h3 mb-3">{{ ad.title }}</h1>
          <p class="text-muted small mb-4">دسته‌بندی: {{ ad.category.name }}</p>

          {% if ad.image %}
            {% if ad.target_url and ad.url_approved %}
            <a
              href="{{ ad.target_url }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="{{ ad.image.url }}"
                alt="{{ ad.title }}"
                class="img-fluid ads-image-250x500-detail"
                onerror="this.onerror=null; this.src='{% static 'images/default.jpg' %}';"
              />
            </a>
            {% else %}
            <img
              src="{{ ad.image.url }}"
              alt="{{ ad.title }}"
              class="img-fluid ads-image-250x500-detail"
              onerror="this.onerror=null; this.src='{% static 'images/default.jpg' %}';"
            />
            {% endif %}
          {% else %}
          <img
            src="{% static 'images/default.jpg' %}"
            alt="{{ ad.title }}"
            class="img-fluid ads-image-250x500-detail"
          />
          {% endif %} {% if ad.target_url and ad.url_approved %}
          <p class="mt-3">
            <a
              href="{{ ad.target_url }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              برای بازدید از اسپانسر ما اینجا کلیک کنید
            </a>
          </p>
          {% endif %}
        </div>
      </div>
      <div class="mt-3">
        <a href="{% url 'ads:ads_by_category' ad.category.slug %}"
          >&rarr; بازگشت به تبلیغات {{ ad.category.name }}</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock content %}
